<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Добро пожаловать в GluFalcon</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header class="header">
            <a href="{{ url_for('index') }}">
                <h1>DiaFalcon</h1>
            </a>
            <ul id="header__menu">
                <a href="{{url_for('login')}}">
                    <li>
                        Войти
                    </li>
                </a>
                <a href="{{ url_for('registration') }}">
                    <li>
                        Зарегистрироваться
                    </li>
                </a>
            </ul>
        </header>
        <main class="main">
            <section class="main__section">
                <h2>Добро пожаловать в систему информационной поддержки GluFalcon</h2>
                <div class="wrapper">
                    <h3>Особенности текущей версии</h3>
                    <div class="wrapper__subblock">
                        <ul id="specs">
                            <li>
                                DiaFalcon поддерживает ручной и автоматический режим работы
                            </li>
                            <li>
                                В личном кабинете пользователя есть возможность получить историю
                                 изменения уровню глюкозы
                            </li>
                            <li>
                                Наличие звуковых оповещений, предупреждающих о необходимости
                                ввода данных в ручном и о появлении новой рекомендации
                                в автоматическом режимах
                            </li>
                            <li>
                                Адаптивный интерфейс
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>