<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Ручной режим работы</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <a href="{{ url_for('index') }}">
                <h1>DiaFalcon</h1>
            </a>
            <ul id="header__menu">
                <li>
                    <a href="{{ url_for('logout') }}">
                        Выйти из системы
                    </a>
                </li>
            </ul>

        </header>
        <main id="manual">
            <section id="data" class="main__section">
                <h2>Рабочая панель</h2>
                <div class="wrapper">
                     <div class="wrapper__subblock">
                        <section class="data__infoblock main__section">
                            <h3>Состояние</h3>
                            <p>Последнее измерение было в: </p>
                            <p id="current-time">{{ current_time }}</p>
                            <p>Уровень глюкозы на момент измерения: </p>
                            <p id="current-glucose-value">{{ current_glucose_value }}</p>
                            <p>Предположительный уровень глюкозы через час: </p>
                            <p id="predicted-glucose-value">{{ predicted_glucose_value }}</p>
                            <p>Рекомендация: </p>
                            <p id="recommendation"><b>{{ recommendation }}</b></p>
                        </section>
                    </div>
                    <div class="wrapper__subblock">
                        <section class="error-section main__section">
                            {% if errors!="" %}
                                <p class="error-section__message">
                                     {{ errors }}
                                </p>
                            {% endif %}
                        </section>
                        <section id="control" class="main__section">
                            <h3>Ввод данных</h3>
                            <form id="measurement-add" action="" method="post">
                                {{ form.csrf_token }}
                                <p>
                                    {{ form.glucose_value.label() }}
                                    {{ form.glucose_value(class="form__field", id="glucose-value") }}
                                </p>
                                <p>
                                    {{ form.submit_button(class="btn") }}
                                </p>
                            </form>
                        </section>
                    </div>
                </div>
            </section>
            <section id="plot" class="main__section">
            </section>
        </main>
        <script>
            $(document).ready(function(){
                // Создается элемент аудио для оповещения
                var audio = document.createElement("audio")
                // Элемент добавляется в документ
                document.body.appendChild(audio);
                //Указывается путь до аудиофайла
                audio.src = "{{url_for('static', filename='notification.mp3')}}"
                // Функция для обновления данных на странице
                // В конце выполнения проигрывается оповещение
                // Функция реализует асинхронный запрос
                var repeatable_checking = function(){
                    $.ajax({
                        // Адрес запроса.
                        url: '/update_data/{{ current_user.get_id() }}',
                        // Тип запроса.
                        type: 'GET',
                        // Что делать, в случае успешного запроса.
                        success: function(response) {
                            console.log(response);
                            // Получение данных из ответа на запрос.
                            // После получения значения полей ответа присваиваются значениям полей страницы
                            $("#current-glucose-value").html(response["current_glucose_value"]);
                            $("#current-time").html(response["current_time"]);
                            $("#predicted-glucose-value").html(response["predicted_glucose_value"]);
                            $("#recommendation").html(response["recommendation"]);
                            $("#plot").html(response["plot"]);
                            // Проигрыш звукового оповещения
                            audio.play()
                        },
                        // Что делать, в случае неудачного запроса.
                        error: function(error) {
                            console.log(error);
                        }
                    })

                }
                // Первый вызов для получения данных
                repeatable_checking();
                // Установка интервального вызова по таймеру
                // Функция вызывается каждые 5 минут
                setInterval(repeatable_checking, 1000*60*5);
            });
        </script>
        <script>
            // Добавляется обработчик события нажатия на кнопку.
            // По данному нажатию реализуется асинхронный запрос.
            // При успехе в БД добавляется запись о измерении.
            // При ошибке выводится сообщение об ошибке.
            $(document).ready(function() {
                // Обработка события.
                $("btn").click(function (e) {
                    // Остановка перезагрузки страницы.
                    e.preventDefault();
                    // Получение данных из формы.
                    var send_data = $("#glucose-value").val();
                    // Тело запроса.
                    $.ajax({
                        // Тип запроса.
                        type: 'POST',
                        // Адрес запроса.
                        url: '/user/id{{ current_user.get_id() }}/manual',
                        // Структура данных для отправки
                        data: {
                            // Полю glucose_value структуры data присвоить send_data
                            glucose_value: send_data
                        },
                        // Что делать, в случае успешного запроса.
                        success: function (response) {
                            console.log(response);
                        },
                        // Что делать, в случае неудачного запроса.
                        error: function (error) {
                            console.log(error);
                        }
                    })
                });
            });
        </script>
    </body>
</html>